.contents{
    width:50%;
}
.header-content{
    background-color:lightseagreen;
    color: white;
    padding: 10px;
    border-radius: 10px 0 0 0;
    margin-bottom: 2px;
}

.select{
    background-color:white;
    color: black;
    border: 1px solid lightseagreen;
    border-bottom:none;
    font-weight:900;
}

.content{
    border: 1px solid lightseagreen;
    padding:10px;
    margin-bottom: 2px;
    display:none;
}
.content h1{
    margin-top: 5px;
}