*{
    padding:0; margin: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

nav {
    float:left;
}

nav ul{
    overflow: hidden;
}

ul li {
    float:left;
    margin: 20px;
}

header{
    background-color: lightseagreen;
    overflow: hidden;
}

header div{
    float: right;
    margin: 20px;
}